:root{
    --cor0:#aff1158a;
    --cor01: #adf011;
    --cor02:  #77a50b;
    --cor03: #3d5505;
    --cor04:#ff8724e5;
    --cor05: #eb8c105d;
    --cor06: #eb8c100a;

    --font0: 'Dancing Script', cursive;
    --font01: 'Courgette', cursive;
    --font02: 'Lato', sans-serif;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #ffff, #adf011da);
}
